* {
    box-sizing: border-box;
}


.max-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#menu {
    background-color: lightgray;
    height: 70px;
    z-index: 99;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

#logo {
    float: left;
    text-align: center;
    width: 250px;
    height: 90px;
    font-size: 20px;
    line-height: 90px;
    font-weight: 700;
    background-color: lightgray;
    color: black;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
}

nav a:first-child {
    border-left: 0 none;
}

a, p {
    color: black;
}

body {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica', Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    color: black;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    line-height: 50px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}

#main-section {
    padding-top: 130px;
}

.main-box {
    background-color: lightgray;
    padding: 30px;
    margin: 0 0 100px 0;
    width: 100%;
    max-width: 650px;
    float: left;
    border: 1px solid #dddddd;
}

#pic {
    width: 200px;
    height: auto;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

.pic2 {
    width: 200px;
}

.sidebar {
        background: lightgray;
        padding: 30px;
        width: 100%;
        max-width: 270px;
        float: right;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.social:last-child {
    margin-right: 0;
}

h3, sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}

#foot {
    background-color: lightgray;
    clear: both;
    width: 100%;
    font-size: 12px;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
    color: black;
}

@media only screen and (max-width: 980px) {
    
    .max-container {
        max-width: 80%;
    }
    
} 

@media only screen and (max-width: 768px) {

    .sidebar {
        padding: 10px;
        display: inline-block;
        float: none;
        margin-bottom: 120px;
        min-width: 100%;
        max-width: 100%;
    }

    #main-section{
        min-width: 80%;
        max-width: 80%;
    }

    .max-container {
        max-width: 80%;
    }

    .main-box {
        margin-bottom: 50px;
    }

    nav {
        margin-top: 0;
        float: none;
   }

    nav a {
        width: 5%;
        padding-right: 5%;
        margin-right: 5%;
        padding-left: 2%;
        margin-left: 2%;
        margin-top: 5%;
    }

    h1, h2, h3 {
        text-align: center;
    }

    .social {
        margin-left: 15%;
        min-width: 64px;
    }

    .pic2 {
        width: 80%;
        margin-left: 10%;
    }
} 

@media only screen and (max-width: 640px) {
    header {
        height: 100px;        
    }

    #menu {
        position: static;
        height: 90px;
    }

    #logo {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    .sidebar {
        padding: 10px;
        display: inline-block;
        float: none;
        margin-bottom: 100px;
        margin-left: 0;
    }

    nav {
        margin-top: 0;
        float: none;
   }

    nav a {
        width: 20%;
        padding-left: 5%;
        margin-left: 5%;
        margin-top: 3%;
    }

    .max-container {
        max-width: 100%;
    }

    #main-section {
        width: 80%;
        padding-top: 15px;
    }

    #pic {
        width: 50%;
        margin-top: 0;
    }

    .pic2 {
        width: 80%;
        margin-left: 10%;
    }

    h3 {
        width: 80%;
        font-size: 15px;
        
    }

    h1, h2, h3 {
        text-align: center;
    }

    .social {
        margin-left: 15%;
        min-width: 64px;
    }
} 